* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://cdn.imgchest.com/files/j7mmcrepg76.png);
  background-repeat: no-repeat;
  max-width: 1536px;
  min-height: 1583px;
  font-size: 2rem;
  opacity: 0.5;
  color: blue;
}
.container > * {
  border: 2px dashed blue;
}

.container {
  display: grid;
  grid-template-rows:
    minmax(auto, 35px)
    minmax(75px, auto)
    minmax(855px, auto)
    minmax(325px, auto);
  grid-template-areas:
    "one one one one"
    "two five six seven"
    "three three eight nine"
    "four four eight nine";
  grid-template-columns:
    minmax(155px, auto)
    minmax(475px, auto)
    minmax(565px, auto)
    minmax(340px, auto);
}

.box1 {
  grid-area: one;
}
.box2 {
  grid-area: two;
}
.box3 {
  grid-area: three;
}
.box4 {
  grid-area: four;
}
.box5 {
  grid-area: five;
}
.box6 {
  grid-area: six;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  min-width: 455px;
  min-height: 18px;
  gap: 31px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  color: black;
}
.box7 {
  grid-area: seven;
}
.box8 {
  grid-area: eight;
}
.box9 {
  grid-area: nine;
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: auto;

    grid-template-areas:
      "one"
      "two"
      "five"
      "six"
      "seven"
      "three"
      "eight"
      "nine"
      "four";
  }
}
